*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
  "nav header"
  "nav content";
  grid-template-rows: 180px 1fr;
  grid-template-columns: minmax(max-content, 260px) 8fr;
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
}

main {
  grid-area: content;
}
